### Primeiros Comandos no Python

In [1]:
print('Olá, Mundo!')

Olá, Mundo!

In [2]:
print(7+4)

11

In [3]:
print('7'+'4')

74

In [4]:
print('Olá',7)

Olá 7

### Utilizando Variáveis

Toda **variável** é um **objeto** para o Python.

In [5]:
nome = 'Maria'
idade = 18
peso = 50.5

print(nome, idade, peso)

Maria 18 50.5

### Entrada de Dados

In [6]:
nome = input('Qual é o seu nome? ')
idade = input('Qual é sua idade? ')
peso = input('Quanto você pesa? ')

Qual é o seu nome? Juvenal
Qual é sua idade? 22
Quanto você pesa? 44.5

In [7]:
print(nome, idade, peso)

Juvenal 22 44.5

<hr>
<h3 style="color:red">DESAFIO 1</h3>

Crie um script Python que leia o nome de uma pessoa e mostre uma mensagem de boas-vindas de acordo com o valor digitado.

In [8]:
nome = input('Qual é o seu nome? ')
print('Olá',nome,'! Prazer em te conhecer!')

Qual é o seu nome? Fabiana
Olá Fabiana ! Prazer em te conhecer!

<hr>
<h3 style="color:red">DESAFIO 2</h3>

Crie um script Python que leia o dia, mês e o ano de nascimento de uma pessoa e mostre uma mensagem com a data formatada.

In [9]:
dia = input('Qual dia do seu nascimento? ')
mes = input('Qual o mês do seu nascimento? ')
ano = input('Qual o ano do seu nascimento? ')

print('Você nasceu no dia',dia,'de',mes,'de',ano,'.Correto?')

Qual dia do seu nascimento? 22
Qual o mês do seu nascimento? Abril
Qual o ano do seu nascimento? 1996
Você nasceu no dia 22 de Abril de 1996 .Correto?

<hr>

<h3 style="color:red">DESAFIO 3</h3>

Crie um script Python que leia dois números e tente mostrar a soma entre eles.

In [10]:
num1 = input('Primeiro Número: ')
num2 = input('Segundo Número: ')

# Como deveria utilizar somentes conceitos aprendidos até a aula
# 4 a resposta para o desafio está errada, aqui somente concatenou
# os dois valores.

print('A soma é',num1+num2)

Primeiro Número: 6
Segundo Número: 3
A soma é 63

<hr>

### Tipos Primitivos

Tipos de Dados no Python:

* Text Type: <code style="color:green">str</code>
* Numeric Types: <code style="color:green">int</code>, <code style="color:green">float</code>, <code style="color:green">complex</code>
* Sequence Types: <code style="color:green">list</code>, <code style="color:green">tuple</code>, <code style="color:green">range</code>
* Mapping Type: <code style="color:green">dict</code>
* Set Types: <code style="color:green">set</code>, <code style="color:green">frozenset</code>
* Boolean Type: <code style="color:green">bool</code>
* Binary Types: <code style="color:green">bytes</code>, <code style="color:green">bytearray</code>, <code style="color:green">memoryview</code>
* None Type: <code style="color:green">NoneType</code>

O valor digitado dentro do comando `input()`, mesmo que for um valor numérico é sempre considerado como string. Para resolver devemos colocar o comando `int` antes do `input`.

Alguns exemplos de tipos primitivos no Python:

- int: 7, -4, 0, 9875 
- float: 4.5, 0.076, -15.223, 7.0
- bool: True, False
- str: 'Ola!', '7.5', ' '

### Tipo de Dados

In [12]:
valor1 = 7
valor2 = 4.5
valor3 = True
valor4 = 'Olá!'

print(type(valor1))
print(type(valor2))
print(type(valor3))
print(type(valor4))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

#### Formas diferentes de escrever na tela, com o print:

In [11]:
s = 4
print('A soma vale', s)
print('A soma vale {}'.format(s)) # sintaxe a partir do Python 3
print(f'A soma vale {s}')

A soma vale 4
A soma vale 4
A soma vale 4

<hr>

<h3 style="color:red">DESAFIO 3</h3>

Crie um script Python que leia dois números e tente mostrar a soma entre eles.

In [14]:
num1 = int(input('Primeiro Número: '))
num2 = int(input('Segundo Número: '))

print('A soma é {}'.format(num1+num2))

Primeiro Número: 4
Segundo Número: 2
A soma é 6

<hr>

<h3 style="color:red">DESAFIO 4</h3>

Faça um programa que leia algo pelo teclado e mostre na tela o seu tipo primitivo e todas as informações possíveis sobre ele.

In [15]:
algo = input('Digite algo: ')

print(f'O tipo primitivo desse valor é {type(algo)}')
print(f'Só tem espaços? {algo.isspace()}')
print(f'É um número? {algo.isnumeric()}')
print(f'É alfabético? {algo.isalpha()}')
print(f'É alfanumérico? {algo.isalnum()}')
print(f'Está em maiúsculas? {algo.isupper()}')
print(f'Está em minúsculas? {algo.islower()}')
print(f'Está capitalizada? {algo.istitle()}')

Digite algo: Programadora
O tipo primitivo desse valor é <class 'str'>
Só tem espaços? False
É um número? False
É alfabético? True
É alfanumérico? True
Está em maiúsculas? False
Está em minúsculas? False
Está capitalizada? True

<hr>

### Operadores Aritméticos

|Operador|Nome|Exemplo|Descrição|
|:--------:|:----:|:-------:|:---------:|
|+  |Adição|x + y|Retorna a soma entre valores|
|-  | Subtração|x - y|Retorna a subtração entre valores|
|*  |Multiplicação| x * y|Retorna a multiplicação entre valores | 
|/  |Divisão|x / y|Retorna a divisão entre valores|
|%  |Módulo|x % y|Retorna o resto da divisão entre valores|
|** |Potência|x ** y|Retorna a potência entre valores|
|// |Divisão inteira| x // y|Retorna apenas o valor inteiro da divisão entre valores|

#### Exemplos:

In [16]:
print(5 + 2) # Resultado: 7
print(5 - 2) # Resultado: 3
print(5 * 2) # Resultado: 10
print(5 / 2) # Resultado: 2.5
print(5 ** 2) # Resultado: 25
print(5 // 2) # Resultado: 2
print(5 % 2) # Resultado: 1

7
3
10
2.5
25
2
1

### Ordem de Precedência

1. `()`
2. `**`
3. `*` `/` `//` `%`
4. `+` `-`

In [17]:
# A potência podemos fazer assim:

print(4**3)
# ou
print(pow(4,3))

64
64

### Operadores de atribuição no Python

|Operador|Exemplo|É igual a|
|:--------:|:---------:|:-------:|
| = | x = 5 | x = 5|
| += | x += 3 | x = x + 3|
| -= | x -= 3 | x = x - 3|
| *= | x *= 3 | x = x * 3|
| /= | x /= 3 | x = x / 3|
| //= | x %= 3 | x = x % 3|
| **= | x **= 3 | x = x ** 3|
| &= | x &= 3 | x = x & 3|
| $|$= | x $|$= 3 | x = x $|$ 3|
| ^= | x^= 3 | x = x^3|
| >>= | x >>= 3| x = x >> 3|
| <<=| x <<= 3| x = x << 3|

### Operações bit-a-bit em Python

Todas as linguagens possuem operadores binários. Esse o peradores são: (`<<`, `>>`, `&`, `|`, `~`, e `^`). Eles são utilizados para trabalharmos com números, porém consideram esses números como um conjunto de strings de **zeros** e **uns**.

|Operador|Nome|Exemplo|
|:--------:|:---------:| :------:|
| & | E |x & y|
| $|$ | OU |x $|$ y|
| ^ | OU EXCLUSIVO | x ^ y|
| ~ | NÃO | ~x|
| << | BITS DESLOCADOS PARA A ESQUERDA | x << 2|
| >> | BITS DESLOCADOS PARA A DIREITA | x >> 2|

<hr>

<h3 style="color:blue">EXEMPLOS</h3>

<hr>

## <code style="color:green">CURIOSIDADES!!</code>

In [19]:
nome = input('Qual é o seu nome? ')

# alinha o nome a direita com 20 espaços
print('Prazer em te conhecer {:>20}!'.format(nome))

# alinha o nome a  esquerda com 20 espaços
print('Prazer em te conhecer {:<20}!'.format(nome)) 

# alinha o nome ao centro com 20 espaços
print('Prazer em te conhecer {:^20}!'.format(nome))

# alinha o nome ao centro com 20 espaços e coloca "=" em volta do nome
print('Prazer em te conhecer {:=^20}!'.format(nome))

Qual é o seu nome? Lais
Prazer em te conhecer                 Lais!
Prazer em te conhecer Lais                !
Prazer em te conhecer         Lais        !
Prazer em te conhecer ========Lais========!

In [26]:
# Com dois prints ficará cada um em uma linha.
print('Olá! Prazer em te conhecer')
print('Laís.')

# para dar espaço antes de executar o outro print abaixo
print()

# Com dois prints, porém com end=' 'ficará tudo na mesma linha.
print('Olá! Prazer em te conhecer', end=' ')
print('Laís.')

# para dar espaço antes de executar o outro print abaixo
print()

# Aqui o \n antes da palabra Prazer fará com que a parte 'Prazer em te 
#conhecer Laís.' fique na linha de baixo
print('Olá! \nPrazer em te conhecer Laís.')

Olá! Prazer em te conhecer
Laís.

Olá! Prazer em te conhecer Laís.

Olá!
Prazer em te conhecer Laís.

<hr>

<h3 style="color:red">DESAFIO 5</h3>

Faça um programa que leia um número inteiro e mostre na tela o seu sucessor e seu antecessor.

In [41]:
num = int(input('Digite um número: '))

ant = num - 1
suc = num + 1

print(f'O antecessor de {num} é {ant}.')
print(f'O sucessor de {num} é {suc}.')

Digite um número: 2
O antecessor de 2 é 1.
O sucessor de 2 é 3.

<hr>

<h3 style="color:red">DESAFIO 6</h3>

Crie um algoritmo que leia um número e mostre o seu dobro, triplo e raiz quadrada.

In [42]:
num = int(input('Digite um número: '))

dobro = num * 2 
triplo = num * 3
raiz = num ** (1/2)

print(f'O dobro de {num} é {dobro}.')
print(f'O triplo de {num} é {triplo}.')
print(f'A raiz quadrada de {num} é {raiz}.')

Digite um número: 2
O dobro de 2 é 4.
O triplo de 2 é 6.
A raiz quadrada de 2 é 1.4142135623730951.

<hr>

<h3 style="color:red">DESAFIO 7</h3>

Desenvolva  um programa que leia as duas notas de um aluno, calcule e mostre a sua média.

In [43]:
nota1 = float(input('Digite sua primeira nota: '))
nota2 = float(input('Digite sua segunda nota: '))

media = (nota1 + nota2) / 2

print(f'A sua média é {media}.')

Digite sua primeira nota: 8
Digite sua segunda nota: 9
A sua média é 8.5.

<hr>

<h3 style="color:red">DESAFIO 8</h3>

Escreva um programa que leia um valor em metros e o exiba convertido em centímetros e milímetros.

In [47]:
valor = float(input('Digite um valor em metros: '))

dm = valor * 10
cm = valor * 100
mm = valor * 1000

dam = valor / 10
hm = valor / 100 
km = valor / 1000

print(f'O valor {valor}m equivale a {cm} centímetros.')
print(f'O valor {valor}m equivale a {mm} milímetros.')

Digite um valor em metros: 20
O valor 20.0m equivale a 2000.0 centímetros.
O valor 20.0m equivale a 20000.0 milímetros.

<hr>

<h3 style="color:red">DESAFIO 9</h3>

Faça um programa que leia um número inteiro qualquer e mostre na tela a sua tabuada.

In [50]:
num = int(input('Digite um número para mostrar sua tabuada: '))

print(f'{num} x 1 = {num*1}')
print(f'{num} x 2 = {num*2}')
print(f'{num} x 3 = {num*3}')
print(f'{num} x 4 = {num*4}')
print(f'{num} x 5 = {num*5}')
print(f'{num} x 6 = {num*6}')
print(f'{num} x 7 = {num*7}')
print(f'{num} x 8 = {num*8}')
print(f'{num} x 9 = {num*9}')
print(f'{num} x 10 = {num*10}')

Digite um número para mostrar sua tabuada: 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

<hr>

<h3 style="color:red">DESAFIO 10</h3>

Crie um programa que leia quanto dinheiro uma pessoa tem na carteira e mostre quantos dólares ela pode comprar.

Considere: US$1,00 = RS4,98

In [52]:
valor = float(input('Digite quanto de dinheiro você possui na carteira: '))

dolar = valor / 4.98

print(f'Com o valor de R${valor} você pode comprar US${round(dolar,2)}.')

Digite quanto de dinheiro você possui na carteira: 25.50
Com o valor de R$25.5 você pode comprar US$5.12.

<hr>

<h3 style="color:red">DESAFIO 11</h3>

Faça um programa que leia a largura e a altura de uma parede em metros. Calcule a sua área e a quantidade de tinta necessária para pintá-la, sabendo que cada litro de tinta, pinta uma área de 2m².

In [55]:
largura = float(input('Digite a largura da parede em metros: '))
altura = float(input('Digite a altura da parede em metros: '))

area = largura * altura

quant_tinta = area * 2

print(f'Uma área de {area}m² de parede precisará de {quant_tinta} litros de tinta.')

Digite a largura da parede em metros: 9
Digite a altura da parede em metros: 3
Uma área de 27.0m² de parede precisará de 54.0 litros de tinta.

<hr>

<h3 style="color:red">DESAFIO 12</h3>

Faça um algoritmo que leia o preço de um produto e mostre seu novo preço, com 5% de desconto.

In [57]:
preco = float(input('Qual o preço do produto: '))

novo_preco = preco - (preco * 0.05)

print(f'O produto que custava R${preco} agora custará R${novo_preco}, um desconto de 5%.')

Qual o preço do produto: 15
O produto que custava R$15.0 agora custará R$14.25, um desconto de 5%.

<hr>

<h3 style="color:red">DESAFIO 13</h3>

Faça um algoritmo que leia o salário de um funcionário e mostre seu novo salário, com 15% de aumento.

In [58]:
salario = float(input('Digite seu salário: '))

novo_salario = salario + (salario * 0.15)

print(f'O salário que era de R${salario} agora será de R${novo_salario}, um aumento de 15%.')

Digite seu salário: 2000
O salário que era de R$2000.0 agora será de R$2300.0, um aumento de 15%.

<hr>

<h3 style="color:red">DESAFIO 14</h3>

Escreva um programa que converta uma temperatura digitada em ºC e converta para ºF.

In [60]:
temp_celsius = float(input('Digite a temperatura: '))

temp_fahrenheit = (temp_celsius * 9/5) + 32

print(f'A temperatura de {temp_celsius}ºC será {temp_fahrenheit}ºF.')

Digite a temperatura: 35
A temperatura de 35.0ºC será 95.0ºF.

<hr>

<h3 style="color:red">DESAFIO 15</h3>

Escreva um programa que pergunte a quantidade de Km percorridos por um carro alugado e a quantidade de dias pelos quais ele foi alugado. Calcule o preço a pagar, sabendo que o carro custa 60 reais por dia e 0,15 centavos por Km rodado.

In [61]:
km = float(input('Digite os quilometros rodados pelo carro: '))
dias = int(input('Digite a quantidade de dias utilizados com o carro: '))

preco_pago =  (60 * dias) + (0.15 * km)

print(f'Você irá pagar pelo carro alugado um total de R${preco_pago}.')

Digite os quilometros rodados pelo carro: 2000
Digite a quantidade de dias utilizados com o carro: 2
Você irá pagar pelo carro alugado um total de R$420.0.

<hr>

### Utilizando Módulos

Algumas funcionalidades do Módulo `math`:

* `ceil` - arredonda um valor para cima.
* `floor` - arredonda um valor para baixo.
* `trunc` - elimina os valores depois da vírgula de um número.
* `pow` - faz a potenciação de um número.
* `sqrt` - faz a raiz quadrada de um valor.
* `factorial` - calcula o fatorial de um valor.

### Módulo math

In [ ]:
# importa todas as funcionalidades do módulo math
import math 

# importa somente a funcionalidade sqrt do módulo math
from math import sqrt

# importa somente as duas funcionalidades sqrt e ceil do módulo math
from math import sqrt, ceil

In [31]:
import math

num = 29
raiz = math.sqrt(num)
print(f'A raiz de {num} é {raiz}')
print(f'A raiz de {num} é {round(raiz,2)}')
print(f'A raiz de {num} é {math.ceil(raiz)}')
print(f'A raiz de {num} é {math.floor(raiz)}')

A raiz de 29 é 5.385164807134504
A raiz de 29 é 5.39
A raiz de 29 é 6
A raiz de 29 é 5

In [32]:
from math import sqrt

num = 25
raiz = sqrt(num)
print(f'A raiz de {num} é {raiz}')

A raiz de 25 é 5.0

In [33]:
from math import sqrt, floor

num = 29
raiz = sqrt(num)
print(f'A raiz de {num} é {floor(raiz)}')

A raiz de 29 é 5

<hr>

## <code style="color:green">CURIOSIDADES!!</code>

In [37]:
from platform import python_version

print(python_version())

3.9.12

<hr>

### Módulo random

In [39]:
import random

num = random.random() # gera um numero entre 0 e 1
print(num)

num2 = random.randint(1, 10) # gera um numero entre 1 e 10 inclusivos
print(num2)

0.6296057425408333
4

<hr>

<h3 style="color:red">DESAFIO 16</h3>

Crie um programa que leia um número real qualquer pelo teclado e mostre na tela a sua porção inteira.

Ex: Digite o número: 6.127. O número 6.127 tem a parte inteira 6.

In [64]:
from math import trunc

num = float(input('Digite um número: '))

print(f'O número {num} tem a parte inteira {trunc(num)}')

Digite um número: 6.127
O número 6.127 tem a parte inteira 6

<hr>

<h3 style="color:red">DESAFIO 17</h3>

Faça um programa que leia o comprimento do cateto oposto e do cateto adjacente de um triângulo retângulo. Calcule e mostre o comprimento da hipotenusa.

In [68]:
from math import sqrt
cat_opos = float(input('Digite o valor do cateto oposto do triângulo retângulo: ')) 
cat_adj = float(input('Digite o valor do cateto adjacente do triângulo retângulo:'))

hipotenusa = sqrt(cat_opos**2 + cat_adj**2)

print(f'O valor da hipotenusa para o triângulo com cateto oposto de {cat_opos} e cateto adjacente de {cat_adj} é {hipotenusa}.')

Digite o valor do cateto oposto do triângulo retângulo: 9
Digite o valor do cateto adjacente do triângulo retângulo:12
O valor da hipotenusa para o triângulo com cateto oposto de 9.0 e cateto adjacente de 12.0 é 15.0.

<hr>

<h3 style="color:red">DESAFIO 18</h3>

Faça um programa que leia um ângulo qualquer e mostre na tela o valor do seno, cosseno e tangente desse ângulo.

In [72]:
from math import cos, sin, tan, radians

angulo = float(input('Digite um ângulo qualquer: '))

cosseno = cos(radians(angulo))
seno = sin(radians(angulo))
tangente = tan(radians(angulo))

print(f'O cosseno do ângulo {angulo} é {round(cosseno,2)}.')
print(f'O seno do ângulo {angulo} é {round(seno,2)}.')
print(f'A tangente do ângulo {angulo} é {round(tangente,2)}.')

Digite um ângulo qualquer: 30
O cosseno do ângulo 30.0 é 0.87.
O seno do ângulo 30.0 é 0.5.
A tangente do ângulo 30.0 é 0.58.

<hr>

<h3 style="color:red">DESAFIO 19</h3>

Um professor quer sortear um de seus quatro alunos para apagar o quadro. Faça um programa que ajude ele, lendo o nome deles e escrevendo o nome do escolhido.

In [75]:
import random

aluno1 = input('Digite o nome do primeiro aluno: ')
aluno2 = input('Digite o nome do segundo aluno: ')
aluno3 = input('Digite o nome do terceiro aluno: ')
aluno4 = input('Digite o nome do quarto aluno: ')

alunos = [aluno1, aluno2, aluno3, aluno4]

aluno_escolhido = random.choice(alunos)

print(f'O aluno escolhido para apagar o quadro foi {aluno_escolhido}.')

Digite o nome do primeiro aluno: Paulo
Digite o nome do segundo aluno: Ana
Digite o nome do terceiro aluno: Pedro
Digite o nome do quarto aluno: Maria
O aluno escolhido para apagar o quadro foi Pedro.

<hr>

<h3 style="color:red">DESAFIO 20</h3>

O mesmo professor do desafio anterior quer sortear a ordem de apresentação de trabalhos dos alunos. Faça um programa que leia o nome dos quatro alunos e mostre a ordem sorteada.

In [79]:
import random

aluno1 = input('Digite o nome do primeiro aluno: ')
aluno2 = input('Digite o nome do segundo aluno: ')
aluno3 = input('Digite o nome do terceiro aluno: ')
aluno4 = input('Digite o nome do quarto aluno: ')

alunos = [aluno1, aluno2, aluno3, aluno4]

random.shuffle(alunos)

print(f'A ordem de apresentação dos trabalhos será: {alunos}.')

Digite o nome do primeiro aluno: Paulo
Digite o nome do segundo aluno: Ana
Digite o nome do terceiro aluno: Pedro
Digite o nome do quarto aluno: Maria
A ordem de apresentação dos trabalhos será: ['Pedro', 'Paulo', 'Maria', 'Ana'].

<hr>

<h3 style="color:red">DESAFIO 21</h3>

Faça um programa em Python que abra e reproduza o áudio de um arquivo MP3.

### Manipulando Texto

In [80]:
frase = 'Curso em Vídeo Python'

In [81]:
print(frase)

Curso em Vídeo Python

#### Fatiamento de string

In [82]:
print(frase[9]) # Resultado: V

# O caracter na posição 13 não entra
print(frase[9:13]) # Resultado: Víde

print(frase[9:14]) # Resultado: Vídeo

print(frase[9:21]) # Resultado: Vídeo Python

print(frase[9:21:2]) # Resultado: VdoPto

print(frase[:5]) # Resultado: Curso

print(frase[15:]) # Resultado: Python

print(frase[9::3]) # Resultado: VePh

V
Víde
Vídeo
Vídeo Python
VdoPto
Curso
Python
VePh

#### Analisando a string

In [83]:
len(frase) # Comprimento da string

21

In [84]:
frase.count('o') # Quantidade de letras 'o' na frase

3

In [85]:
# Quantidade de letras 'o' que possui na frase da posição 0 a 12
frase.count('o', 0, 13)

1

In [86]:
# Encontra a string 'deo' e tem como resultado a posição
# que começou a string 'deo' na frase
frase.find('deo')

11

In [87]:
# Retorna -1 porque não existe a string 'Android' na frase
frase.find('Android')

-1

In [88]:
# Retorna se existe(True) ou não existe(False) a palavra Curso 
# na frase
'Curso' in frase

True

In [89]:
# Substitui, se tiver, a palavra 'Python' por 'Android' na frase
frase.replace('Python', 'Android')

print(frase.replace('Python', 'Android'))

Curso em Vídeo Android

In [91]:
frase.upper() # Coloca todas as letras em maiusculas

'CURSO EM VÍDEO PYTHON'

In [92]:
frase.lower() # Coloca todas as letras em minusculas

'curso em vídeo python'

In [93]:
# Colocar a primeira letra da frase em maiusculas e 
# o restante em minusculas
frase.capitalize()

'Curso em vídeo python'

In [94]:
# Coloca todas as primeiras letras de cada palavra da frase em
# maiusculas e o restante fica em minusculas
frase.title()

'Curso Em Vídeo Python'

#### Transformação de string

In [99]:
frase2 = '   Aprenda Python  '
frase2

'   Aprenda Python  '

In [100]:
frase2.strip() # Remove os espaços antes e depois da frase

'Aprenda Python'

In [101]:
frase2.rstrip() # Remove os espaços a direita da frase

'   Aprenda Python'

In [102]:
frase2.lstrip() # Remove os espaços a esquerda da frase

'Aprenda Python  '

#### Divisão de string

In [103]:
# Divide a frase considerando os espaços, retorna uma lista
frase.split()

['Curso', 'em', 'Vídeo', 'Python']

#### Junção de string

In [105]:
frase3 = frase.split()
'-'.join(frase3)

'Curso-em-Vídeo-Python'

<hr>

## <code style="color:green">CURIOSIDADES!!</code>

In [107]:
# Print de textos longos:

print('''O tipo String é usado principalmente para gravar 
informações de texto, como o nome de uma pessoa ou uma 
marca de roupas, por exemplo. Nele temos uma sequência 
de caracteres que formam uma string. O Python permite 
formar strings com um par de aspas simples ou duplas.''')

O tipo String é usado principalmente para gravar
informações de texto, como o nome de uma pessoa ou uma
marca de roupas, por exemplo. Nele temos uma sequência
de caracteres que formam uma string. O Python permite
formar strings com um par de aspas simples ou duplas.

<hr>

<h3 style="color:red">DESAFIO 22</h3>

Crie um programa que leia o nome completo de uma pessoa e mostre:

* O nome com todas as letras maiusculas
* O nome com todas minusculas
* Quantas letras ao todo(sem considerar espaços)
* Quantas letras tem o primeiro nome

In [11]:
nome = input('Digite seu nome completo: ').strip()

print(f'Seu nome com todas as letras maiúsculas é {nome.upper()}.')
print(f'Seu nome com todas as letras minúsculas é {nome.lower()}.')

qtd_letras = len(nome) - nome.count(' ')

print(f'Seu nome completo tem {qtd_letras} letras.')

qtd_primeiro_nome = len(nome.split()[0])

print(f'Seu primeiro nome tem {qtd_primeiro_nome} letras.')

Digite seu nome completo: Lais Elias Gimenes
Seu nome com todas as letras maiúsculas é LAIS ELIAS GIMENES.
Seu nome com todas as letras minúsculas é lais elias gimenes.
Seu nome completo tem 16 letras.
Seu primeiro nome tem 4 letras.

<hr>

<h3 style="color:red">DESAFIO 23</h3>

Faça um programa que leia um número de 0 a 9999 e mostre na tela cada um dos digitos separados.

Ex: Digite um número: 1834

* Unidade: 4
* Dezena: 3
* Centena: 8
* Milhar: 1

In [16]:
num = input('Informe um número inteiro de 0 até 9999: ')

# se o número tiver 2 digitos e ele preenche com 0 até ter 4 digitos
numero = f'{num:0>4}' 


print(f'Unidade: {numero[3]}')
print(f'Dezena: {numero[2]}')
print(f'Centena: {numero[1]}')
print(f'Milhar: {numero[0]}')

Informe um número inteiro de 0 até 9999: 1834
Unidade: 4
Dezena: 3
Centena: 8
Milhar: 1

#### Outra forma de fazer o DESAFIO 23

In [47]:
num = int(input('Informe um número inteiro de 0 até 9999: '))

print(f'Analisando o número {num}')

print(f'Unidade: {num // 1 % 10}')
print(f'Dezena: {num // 10 % 10}')
print(f'Centena: {num // 100 % 10}')
print(f'Milhar: {num // 1000 % 10}')

Informe um número inteiro de 0 até 9999: 1834
Analisando o número 1834
Unidade: 4
Dezena: 3
Centena: 8
Milhar: 1

<hr>

<h3 style="color:red">DESAFIO 24</h3>

Crie um programa que leia o nome de uma cidade e diga se ela começa ou não com o nome 'SANTO'.

In [55]:
cidade = input('Em que cidade você nasceu? ').strip().upper()

cid = cidade.split(' ')

print(f"A cidade digitada começa com 'SANTO'? {'SANTO' in cid[0]}")

Em que cidade você nasceu? Santo Anastacio
A cidade digitada começa com 'SANTO'? True

In [54]:
cidade = input('Em que cidade você nasceu? ').strip().upper()

cid = cidade.split(' ')

print(f"A cidade digitada começa com 'SANTO'? {'SANTO' in cid[0]}")

Em que cidade você nasceu? Rio de Janeiro
A cidade digitada começa com 'SANTO'? False

#### Outra maneira de fazer o DESAFIO 24

In [57]:
cidade = input('Em que cidade você nasceu? ').strip().upper()

print(f"A cidade digitada começa com 'SANTO'? {cidade[:5]=='SANTO'}")

Em que cidade você nasceu? Santo Antonio
A cidade digitada começa com 'SANTO'? True

In [56]:
cidade = input('Em que cidade você nasceu? ').strip().upper()

print(f"A cidade digitada começa com 'SANTO'? {cidade[:5]=='SANTO'}")

Em que cidade você nasceu? Rio de Janeiro
A cidade digitada começa com 'SANTO'? False

<hr>

<h3 style="color:red">DESAFIO 25</h3>

Crie um programa que leia o nome de uma pessoa e diga se ela tem 'SILVA' no nome.

In [59]:
nome = input('Qual é seu nome completo? ').strip().upper()

n = nome.split(' ')
print(f"Seu nome tem Silva? {'SILVA' in n}")

Qual é seu nome completo? Mario Silva Mendonça
Seu nome tem Silva? True

In [60]:
nome = input('Qual é seu nome completo? ').strip().upper()

n = nome.split(' ')
print(f"Seu nome tem Silva? {'SILVA' in n}")

Qual é seu nome completo? Livia Reis Fontes
Seu nome tem Silva? False

<hr>

<h3 style="color:red">DESAFIO 26</h3>

Faça um programa que leia uma frase pelo teclado e mostre:

* Quantas vezes aparece a letra 'A'.
* Em que posição ela aparece a primeira vez.
* Em que posição ela aparece a última vez.

In [79]:
frase = input('Digite uma frase: ').strip().upper()

print(f"A letra 'A' aparece {frase.count('A')} vezes na frase digitada.")
print(f"A primeira vez que aparece a letra 'A' é na {frase.find('A')+1} posição.")
print(f"A última vez que aparece a letra 'A' é na {frase.rfind('A')+1} posição.")

Digite uma frase: Programador
A letra 'A' aparece 2 vezes na frase digitada.
A primeira vez que aparece a letra 'A' é na 6 posição.
A última vez que aparece a letra 'A' é na 8 posição.

<hr>

<h3 style="color:red">DESAFIO 27</h3>

Faça um programa que leia o nome completo de uma pessoa, mostrando em seguida o primeiro e o ultimo nome separadamente.

Ex: Ana Maria de Souza

* primeiro = Ana
* último = Souza

In [83]:
nome = input('Digite seu nome completo: ')

print(f"Seu primeiro nome é: {nome.split(' ')[0]}")
print(f"Seu último nome é: {nome.split(' ')[-1]}")

Digite seu nome completo: Lais Elias Gimenes
Seu primeiro nome é: Lais
Seu último nome é: Gimenes

<hr>

### Condições no Python

<h3 style="color:green">Operadores de comparação no Python:</h3>

|Operador|Descrição|Exemplo|
|:--------:|:---------:|:-------:|
| == | Igual | x == y|
| != | Não igual | x != y|
| > | Maior que | x > y|
| < | Menor que | x < y|
| >= | Maior ou igual que | x >= y|
| <= | Menor ou igual que | x <= y|

<h3 style="color:green">Operadores Lógicos no Python:</h3>

|Operador|Descrição|Exemplo|
|:--------:|:---------:|:-------:|
| and | Retorna True <br>se ambas as afirmações são verdadeiras | x < 5 and x < 10|
| or | Retorna True <br>se pelo menos uma afirmação é verdadeira| x < 5 or x < 4|
| not | Inverte o resultado. <br>Retorna False se o rsultado for True| not(x < 5 and x < 10)|

<h3 style="color:green">Operadores de Identidade no Python:</h3>

|Operador|Descrição|Exemplo|
|:--------:|:---------:|:-------:|
| is | Retorna True se ambas <br>as variáveis forem o mesmo objeto | x  is y|
| is not | Retorna True se ambas <br>as variáveis não forem o mesmo objeto| x is not y|

<h3 style="color:green">Operadores de Associação no Python:</h3>

|Operador|Descrição|Exemplo|
|:--------:|:---------:|:-------:|
| in | Retorna True se uma sequência com o <br>valor especificado estiver presente no objeto | x in y|
| not in | Retorna True se uma sequência com o <br>valor especificado não estiver presente no objeto| x not in y|

In [1]:
tempo = int(input('Quantos anos tem seu carro? '))

if (tempo <=3):
    print('Carro novo')

else:
    print('Carro velho')

print('--FIM--')

Quantos anos tem seu carro? 2
Carro novo
--FIM--

In [2]:
tempo = int(input('Quantos anos tem seu carro? '))

if (tempo <=3):
    print('Carro novo')

else:
    print('Carro velho')

print('--FIM--')

Quantos anos tem seu carro? 5
Carro velho
--FIM--

#### Condição simplificada

In [3]:
tempo = int(input('Quantos anos tem seu carro? '))

print('Carro novo' if tempo<=3 else 'Carro velho')

print('--FIM--')

Quantos anos tem seu carro? 1
Carro novo
--FIM--

**Observação**: Quando temos uma estrutura condicional **simples** só teremos o `if`, já na estrutura condicional **composta** teremos o `if` e o `else`.

<hr>

<h3 style="color:red">DESAFIO 28</h3>

Escreva um programa que faça o computador "pensar" em um número inteiro entre 0 e 5 e peça para o usuário tentar descobrir qual foi o número escolhido pelo computador. O programa deverá escrever na tela se o usuário venceu ou perdeu.

In [85]:
import random

num_escolhido = random.randint(0,5)

num = int(input('Digite um número inteiro entre 0 e 5, inclusivos: '))

if(num == num_escolhido):
    print(f'Você ganhou! O número escolhido foi {num_escolhido}')
else:
    print(f'Você perdeu! O número escolhido foi {num_escolhido}')

Digite um número inteiro entre 0 e 5, inclusivos: 0
Você ganhou! O número escolhido foi 0

<hr>

<h3 style="color:red">DESAFIO 29</h3>

Escreva um programa que leia a velocidade de um carro. Se ele ultrapassar 80km/h, mostre uma mensagem dizendo que ele foi multado. A multa vai custar R$7,00 por cada km acima do limite.

In [92]:
vel = float(input('Digite a velocidade do carro em km/h: '))

if(vel > 80):
    multa = (vel - 80) * 7
    print(f'Você foi multado! Seu carro está acima de 80km/h. Sua multa será de R${round(multa,2)}.')
else:
    print('Continue dirigindo com cuidado. Tenha uma boa viagem!')

Digite a velocidade do carro em km/h: 150
Você foi multado! Seu carro está acima de 80km/h. Sua multa será de R$490.0.

In [93]:
vel = float(input('Digite a velocidade do carro em km/h: '))

if(vel > 80):
    multa = (vel - 80) * 7
    print(f'Você foi multado! Seu carro está acima de 80km/h. Sua multa será de R${round(multa,2)}.')
else:
    print('Continue dirigindo com cuidado. Tenha uma boa viagem!')

Digite a velocidade do carro em km/h: 50
Continue dirigindo com cuidado. Tenha uma boa viagem!

<hr>

<h3 style="color:red">DESAFIO 30</h3>

Crie um programa que leia um número inteiro e mostre na tela se ele é PAR ou IMPAR.

In [97]:
num = int(input('Digite um número inteiro: '))

if(num % 2 == 0):
    print(f'O número {num} é PAR!')
else:
    print(f'O número {num} é ÍMPAR!')

Digite um número inteiro: 24
O número 24 é PAR!

<hr>

<h3 style="color:red">DESAFIO 31</h3>

Desenvolva um programa que pergunte a distância de uma viagem em km. Calcule o preço da passagem, cobrando RS0,50 por km para viagens de até 200km e RS0,45 para viagens mais longas.

In [99]:
dist = float(input('Digite a distância em km de sua viagem: '))

if(dist <= 200):
    preco_passagem = dist * 0.50
    print(f'Com uma distância de {dist}km sua passagem custará R${preco_passagem}')
else:
    preco_passagem = dist * 0.45
    print(f'Com uma distância de {dist}km sua passagem custará R${preco_passagem}')

Digite a distância em km de sua viagem: 100
Com uma distância de 100.0km sua passagem custará R$50.0

<hr>

<h3 style="color:red">DESAFIO 32</h3>

Faça um programa que leia um ano qualquer e mostre se ele é BISSEXTO.

In [111]:
import datetime as dt

ano = int(input('Que ano quer analisar? Coloque 0 para analisar o ano atual: '))

if(ano == 0):
    ano = dt.date.today().year
if(ano % 4 == 0 and ano % 100 != 0 or ano % 400 == 0):
    print(f'O ano {ano} É BISSEXTO!')
else:
    print(f'O ano {ano} NÃO É BISSEXTO!')

Que ano quer analisar? Coloque 0 para analisar o ano atual: 1700
O ano 1700 NÃO É BISSEXTO!

<hr>

<h3 style="color:red">DESAFIO 33</h3>

Faça um programa que leia três números e mostre qual é o maior e qual é o menor.

In [113]:
num1 = int(input('Digite o primeiro número inteiro: '))
num2 = int(input('Digite o segundo número inteiro:'))
num3 = int(input('Digite o terceiro número inteiro:'))

menor = num1

if(num2 < num1 and num2 < num3):
    menor = num2

if(num3 < num1 and num3 < num2):
    menor = num3
    
maior = num1

if(num2 > num1 and num > num3):
    maior = num2

if(num3 > num1 and num3 > num2):
    maior = num3
    
print(f'O menor valor digitado foi: {menor}')
print(f'O maior valor digitado foi: {maior}')

Digite o primeiro número inteiro: 5
Digite o segundo número inteiro:2
Digite o terceiro número inteiro:0
O menor valor digitado foi: 0
O maior valor digitado foi: 5

<hr>

<h3 style="color:red">DESAFIO 34</h3>

Escreva um programa que pergunte o salário de um funcionário e calcule o valor do seu aumento. Para salários superiores a RS1.250,00, calcular um aumento de 10%. Para os inferiores ou iguais, o aumento é de 15%.

In [101]:
sal = float(input('Digite seu salário: '))

if(sal > 1250):
    novo_salario = sal + (sal*0.10)
    print(f'Seu salário aumentou 10% agora ele será de R${novo_salario}')
else:
    novo_salario = sal + (sal*0.15)
    print(f'Seu salário aumentou 15% agora ele será de R${novo_salario}')

Digite seu salário: 1000
Seu salário aumentou 15% agora ele será de R$1150.0

<hr>

<h3 style="color:red">DESAFIO 35</h3>

Desenvolva um programa que leia o comprimento de três retas e diga ao usuário se elas podem ou não formar um triângulo.

In [104]:
# Condicao de existencia de um triangulo:
# "A soma de dois lados é sempre menor que o terceiro lado"

reta1 = float(input('Digite o comprimento da reta 1: '))
reta2 = float(input('Digite o comprimento da reta 2: '))
reta3 = float(input('Digite o comprimento da reta 3: '))

if(reta1 + reta2 > reta3 and reta2 + reta3 > reta1 and reta1 + reta3 > reta2):
    print('As suas retas PODEM formar um triângulo!')
else:
    print('As suas retas NÃO PODEM formar um triângulo!')

Digite o comprimento da reta 1: 9
Digite o comprimento da reta 2: 7
Digite o comprimento da reta 3: 8
As suas retas PODEM formar um triângulo!

<hr>